/* The Modal (background) */
.modal {

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}


/* Modal Content */
.modal-content {
   position: relative;
    display: table; /* <-- This makes the trick */
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 700px;   
    background-color: #fefefe;
    overflow: auto;
    padding: 0;
    border: 1px solid #888;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 2s;
    animation-name: animatetop;
    animation-duration: 2s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {width: 0%; opacity: 0; height: 0%} 
    to {width: 600px; opacity: 1; height: 600px}
}

@keyframes animatetop {
    from {width: 0%; opacity: 0; height: 0%}
    to {width: 600px; opacity: 1; height: 600px%}
}